@page "/mmaEventComponent"
@using Newtonsoft.Json.Linq
@using BookmakerClientApp.Data.Extension
@using BookmakerClientApp.Data.Model.Event.MMA


@if (mmaEventDtos == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <body class="large-screen">
    <div class="wrap">
        <div class="table-wrapper">
            <table class="table-responsive card-list-table">
                <thead>
                <tr>
                    <th>Zawodnicy</th>
                    <th>Dyscyplina</th>
                    <th>Data</th>
                    <th>1</th>
                    <th>2</th>
                </tr>
                </thead>
                <tbody>
                @foreach (MMAEventDto mmaFight in mmaEventDtos)
                {
                    <tr>
                        <td data-title="Zawodnicy">@mmaFight.FirstFighterName-@mmaFight.SecondFighterName</td>
                        <td data-title="Dyscyplina">@mmaFight.SportName</td>
                        <td data-title="Data">@mmaFight.Date</td>
                        <td data-title="1">
                            <button class="btn btn-primary" @onclick="() => AddEventToBetTicket(mmaFight.FirstFighterWinId)">@mmaFight.FirstFighterWinOdds</button>
                        </td>
                        <td data-title="2">
                            <button class="btn btn-primary" @onclick="() => AddEventToBetTicket(mmaFight.SecondFighterWinId)">@mmaFight.SecondFighterWinOdds</button>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
    </body>
}



@code {

    [Parameter]
    public IReadOnlyList<MMAEventDto> mmaEventDtos { get; set; }

    private void AddEventToBetTicket(long id)
    {
        string key = "events-list";
        SaveEventListInLocalStorage(id, key);
    }

    private void SaveEventListInLocalStorage(long id, string key)
    {
        LocalStorageExtension localStorage = LocalStorageExtension.GetInstance();
        JArray newArray = localStorage.Get<JArray>(key);
        List<long> newEventsList = newArray.ToObject<List<long>>();
        if (newEventsList.Contains(id))
        {
            return;
        }
        newArray.Add(id.ToString());
        localStorage.Store(key, newArray);
    }

}