@page "/eventComponent"
@using BookmakerClientApp.Data.Model

@if (FootballEventModelDtos == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>Drużyny</th>
                    <th>Dyscyplina</th>
                    <th>Data</th>
                    <th>1</th>
                    <th>0</th>
                    <th>2</th>
                </tr>
            </thead>
            <tbody>
                @foreach (FootballEventDto footballMatch in FootballEventModelDtos)
                {
                    <tr>
                        <td>@footballMatch.FootballTeams</td>
                        <td>@footballMatch.SportName</td>
                        <td>@footballMatch.Date</td>
                        <td><button class="btn btn-primary" @onclick="() => displayId(footballMatch.FirstTeamWinEventId)">@footballMatch.FirstTeamWinOdds</button></td>
                        <td><button class="btn btn-primary" @onclick="() => displayId(footballMatch.DraftEventId)">@footballMatch.DraftOdds</button></td>
                        <td><button class="btn btn-primary" @onclick="() => displayId(footballMatch.SecondTeamWinEventId)">@footballMatch.SecondTeamWinOdds</button></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

<div>Id = @id</div>



@code {
    [Parameter]
    public IReadOnlyList<FootballEventDto> FootballEventModelDtos { get; set; }

    private long id = 0;

    private void displayId(long id)
    {
        this.id = id;
    }
}

