@page "/eventComponent"
@using BookmakerClientApp.Data.Model
@using Newtonsoft.Json.Linq
@using BookmakerClientApp.Data.Extension


@if (FootballEventModelDtos == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <body class="large-screen">
        <div class="wrap">
            <div class="table-wrapper">
                <table class="table-responsive card-list-table">
                    <thead>
                        <tr>
                            <th>Drużyny</th>
                            <th>Dyscyplina</th>
                            <th>Data</th>
                            <th>1</th>
                            <th>0</th>
                            <th>2</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (FootballEventDto footballMatch in FootballEventModelDtos)
                        {
                            <tr>
                                <td data-title="Drużyny">@footballMatch.FootballTeams</td>
                                <td data-title="Dyscyplina">@footballMatch.SportName</td>
                                <td data-title="Data">@footballMatch.Date</td>
                                <td data-title="1"><button class="btn btn-primary" @onclick="() => addEventToBetTicket(footballMatch.FirstTeamWinEventId)">@footballMatch.FirstTeamWinOdds</button></td>
                                <td data-title="0"><button class="btn btn-primary" @onclick="() => addEventToBetTicket(footballMatch.DraftEventId)">@footballMatch.DraftOdds</button></td>
                                <td data-title="2"><button class="btn btn-primary" @onclick="() => addEventToBetTicket(footballMatch.SecondTeamWinEventId)">@footballMatch.SecondTeamWinOdds</button></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </body>
}

<div>Id = @id</div>



@code {
    [Parameter]
    public IReadOnlyList<FootballEventDto> FootballEventModelDtos { get; set; }

    private long id = 0;

    private void displayId(long id)
    {
        this.id = id;
    }

    private void addEventToBetTicket(long id)
    {
        string key = "events-list";
        SaveEventListInLocalStorage(id, key);
    }

    public void SaveEventListInLocalStorage(long id, string key)
    {
        LocalStorageExtension localStorage = LocalStorageExtension.GetInstance();
        JArray newArray = localStorage.Get<JArray>(key);
        List<long> newEventsList = newArray.ToObject<List<long>>();
        if (newEventsList.Contains(id))
        {
            return;
        }
        else
        {
            newArray.Add(id.ToString());
        }
        localStorage.Store(key, newArray);
    }
}

