@page "/eventComponent"
@using BookmakerClientApp.Data.Model

@if (FootballEventModelDtos == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>Drużyny</th>
                    <th>Dyscyplina</th>
                    <th>Kurs</th>
                    <th>Zdarzenie</th>
                    <th>Data</th>
                    <th>Dodaj</th>
                </tr>
            </thead>
            <tbody>
                @foreach (FootballEventModelDto footballMatch in FootballEventModelDtos)
                {
                    <tr>
                        <td>@footballMatch.HomeTeamName - @footballMatch.VisitingTeamName</td>
                        <td>Piłka nożna</td>
                        <td>@footballMatch.Odds</td>
                        <td>@footballMatch.ChosenResult</td>
                        <td>@footballMatch.Date</td>
                        <td><button class="btn btn-primary">Dodaj</button></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}



@code {
    [Parameter]
    public IReadOnlyList<FootballEventModelDto> FootballEventModelDtos { get; set; }

}

