@using BookmakerClientApp.Data.Model

<div class="input-group input-group-lg">
    <div class="input-group-prepend">
        <span style="width:150px;" class="input-group-text" id="inputGroup-sizing-lg">Imie</span>
    </div>
    <input type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm" placeholder="@userDataDto.Name" readonly>
</div>
<div class="input-group input-group-lg">
    <div class="input-group-prepend">
        <span style="width:150px;" class="input-group-text" id="inputGroup-sizing-lg">Nazwisko</span>
    </div>
    <input type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm" placeholder="@userDataDto.Surname" readonly>
</div>
<div class="input-group input-group-lg">
    <div class="input-group-prepend">
        <span style="width:150px;" class="input-group-text" id="inputGroup-sizing-lg">Wiek</span>
    </div>
    <input type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm" placeholder="@userDataDto.Age" readonly>
</div>
<div class="input-group input-group-lg">
    <div class="input-group-prepend">
        <span style="width:150px;" class="input-group-text" id="inputGroup-sizing-lg">E-Mail</span>
    </div>
    <input type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm" placeholder="@userDataDto.Mail" readonly>
</div>
<div class="input-group input-group-lg">
    <div class="input-group-prepend">
        <span style="width:150px;" class="input-group-text" id="inputGroup-sizing-lg">Stan konta</span>
    </div>
    <input type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm" placeholder="@userDataDto.BankBalance" readonly>
</div>

@code {
    [Parameter]
    public UserDataDto userDataDto { get; set; }
}
