@page "/mmaEvents"
@inherits LayoutComponentBase
@using BookmakerClientApp.Data.Service
@using BookmakerClientApp.Data.Model.Event.MMA
@using BookmakerClientApp.Shared.EventComponents.MMA
@using BookmakerClientApp.Shared.EventComponents
@inject EventService eventService

<div class="topnav">
    <EventNavMenu/>
</div>

@if (mmaEventDtos == null)
{
    <p>
        <em>@listSize</em>
    </p>
}
else
{
    <MMAEventComponent mmaEventDtos="@mmaEventDtos"/>
    <div>
        <PaginationComponent numberOfPages="@numberOfPages" currentPageNumber="@currentPageNumber"
                             ChangeCurrentPageNumber="@ChangeCurrentPageNumber"/>
    </div>
}



@code {
    private List<MMAEventDto> mmaEventDtos;
    private string listSize = "Brak zdarzeń";
    private int currentPageNumber;
    private int numberOfPages;

    protected override async Task OnInitializedAsync()
    {
        await GetMMAEvents();
        if (mmaEventDtos.Any())
        {
            numberOfPages = mmaEventDtos.First().NumberOfPages;
        }
        else
        {
            listSize = "Brak zdarzeń";
        }
    }

    private async Task GetMMAEvents()
    {
        mmaEventDtos = await eventService.GetUnfinishedMMAEvents(currentPageNumber);
    }

    private async Task ChangeCurrentPageNumber(int pageNumber)
    {
        currentPageNumber = pageNumber;
        await GetMMAEvents();
    }

}